@media (min-width:300px){
    .card-img-overlay{
        left:1px;
        font-size: 10px;
        margin-top:0 !important ;
        width: 100% !important;
    }
    .card-img-overlay h2 {
        font-size: 14px;
    }
    .card-img-overlay p {
        font-size: 10px;
    }
    .card-title{
        margin-bottom: 0 !important;
    }    
}
@media (min-width:718px){
    .card-img-overlay{
        left:1px;
        font-size: 10px;
        margin-top:0 !important ;
        width: 100% !important;
    }
    .card-img-overlay h2 {
        font-size: 25px;
    }
    .card-img-overlay p {
        font-size: 20px;
    }
    .card-title{
        margin-bottom: 0 !important;
    }
}

@media (min-width:719px) and (max-width:992px){
    .card-img-overlay{
        top: 5%;
        left:5%;
        font-size: 20px;
        margin-top:0 !important ;
        width: 100% !important;
    }
    .card-img-overlay h2 {
        font-size: 25px;
    }
    .card-img-overlay p {
        font-size: 20px;
    }
    .card-title{
        margin-bottom: 0 !important;
    }
}
@media (min-width:993px){
    .card-img-overlay{
        top: 15%;
        left:10%;
        font-size: 40px;
        margin-top:0 !important ;
        width: 70% !important;
    }
    .card-img-overlay h2 {
        font-size: 40px;
    }
    .card-img-overlay p {
        margin-top: 15px;
        font-size: 20px;
    }
}